<!DOCTYPE html>
<html>
  <head>
    <title>Foodexpiry</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="text-align: center">

      <nav class="navbar navbar-light bg-light justify-content-between">
      <a class="navbar-brand" style="text-align: center">FoodExpiry</a>
    </nav>

    <div class="index-bg">
    <div class="row" style="padding-top: 6em; padding-bottom: 30em">
      <div class="col">

      </div>
      <div class="col-6" text-align: "center">
        <h1>#StopFoodWaste</h1>
        <h3></h3>
        <p>See the actual expiry date of food</p>
        <p>We believe that all of us should do our part to reduce Food waste! A small place to start is at home.
To help every household reduce their own food waste we have created this application to help you identify which food items is about to expire with recommendations on how to use these items with a nice recipe.
It is easy to use,
Scan your shopping list to add the items, that’s it!
You can also find your items through the search function:
Type in the item you are looking for and your will get great information to help you manage your food.
Expiry date
Plus date*
Recommendations
*Plus dates are the dates after your item expires that your product is still eatable.</p>
        <div class="container" text-align: "center">
          <div class="card-body">
            <p class="card-text">Stop food waste</p>
            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            <%= form_tag index_index_path, method: :get, id: 'submit-search' do %>
              <%= text_field_tag :name, params[:name], placeholder: 'Name', autofocus: true %>
              <%= submit_tag 'Skicka', id: 'search-button' %>
            <% end %>

            <% if @products.present? %>
              <% @products.each do |product| %>
                <%= product.name %><br />
                <%= product.description %><br />
                <%= product.best_before %> <p>dagar hållbarhet</p><br />
                <%= product.recommendations %>
              <% end %>
            <% end %>

            <%= yield %>
      </div>
      </div>
    </div>
    <div class="col">

    </div>
  </div>

    </div>
  </div>

    <%= yield %>
  </body>
</html>
